[flake8]
# CI settings (GitHub editor is 127 chars wide)
max-line-length = 127
max-complexity = 10
exclude = .git,__pycache__,.venv,.tox,dist,build,*.egg-info
# Linters conflicting with Black formatting
ignore = E203,W503,W504,E704

# Additional project-specific settings
per-file-ignores =
    examples/symmetry_reduction.py:C901,E501
